<%- include("partials/header"); -%>

    <h1><%=title%></h1>
    <p><%=content%></p>
    <form action="/delete/<%=id%>" method="POST">
        <button type="submit" name="Post">Delete</button>
    </form>

<%- include("partials/footer"); -%>